<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :long_description %>
    <%= f.input :short_description %>
    <%= f.input :task_date %>
    <%= f.input :task_time %>
    <%= f.association :user %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
